.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: $secondary-background-color;
  }
  .page-footer__section {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  